/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.signup-bg{
  background-image: url('./assets//images/bg-signup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.horizontalSwipper .swiper-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.swiper-slide-thumb-active img{
  border: 4px #3584e4 solid;
  border-radius: 1rem;
}

/* #product-card:hover .product-details{
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#product-card:hover #add-to-cart{
  bottom: 0;
} */


.slide-left {
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-right {
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-left-filter{
  animation: slide-left-filter 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-right-filter{
  animation: slide-right-filter 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-top {
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @keyframes slide-left {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-110%);
    }
  }
 
@keyframes slide-right {
    0% {
      transform: translateX(-110%);
    }
    100% {
      transform: translateX(0px);
    }
  }

@keyframes slide-left-filter {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-right-filter {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0px);
    }
  }

 @keyframes slide-top {
  0% {
    transform: translateY(0);
    /* height: 80px; */
  }
  100% {
    transform: translateY(-250px);
    height: 100%;
  }
}



  
  